<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AutorizaUsuario</servlet-name>
        <servlet-class>CONTROLADOR.AutorizaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>CONTROLADOR.CerrarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba</servlet-name>
        <servlet-class>CONTROLADOR.Prueba</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba1</servlet-name>
        <servlet-class>CONTROLADOR.Prueba1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Prueba2</servlet-name>
        <servlet-class>CONTROLADOR.Prueba2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorInsumos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorInsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorColor</servlet-name>
        <servlet-class>CONTROLADOR.ControladorColor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUnidadInsumos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorUnidadInsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoriaInsumos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorCategoriaInsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCategoriaProductos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorCategoriaProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoOperarios</servlet-name>
        <servlet-class>CONTROLADOR.ControladorTipoOperarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoEmpleado</servlet-name>
        <servlet-class>CONTROLADOR.ControladorTipoEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoEmpleados</servlet-name>
        <servlet-class>CONTROLADOR.ControladorTipoEmpleados</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorSeries</servlet-name>
        <servlet-class>CONTROLADOR.ControladorSeries</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoDocumento</servlet-name>
        <servlet-class>CONTROLADOR.ControladorTipoDocumento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorTipoComprobante</servlet-name>
        <servlet-class>CONTROLADOR.ControladorTipoComprobante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorModeloProductos</servlet-name>
        <servlet-class>CONTROLADOR.ControladorModeloProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorProducto</servlet-name>
        <servlet-class>CONTROLADOR.ControladorProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorDetalleOrdenProducto</servlet-name>
        <servlet-class>CONTROLADOR.ControladorDetalleOrdenProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorOrdenProduccion</servlet-name>
        <servlet-class>CONTROLADOR.ControladorOrdenProduccion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>CONTROLADOR.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorOperario</servlet-name>
        <servlet-class>CONTROLADOR.ControladorOperario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPedido</servlet-name>
        <servlet-class>CONTROLADOR.ControladorPedido</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AutorizaUsuario</servlet-name>
        <url-pattern>/AutorizaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba1</servlet-name>
        <url-pattern>/Prueba</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Prueba2</servlet-name>
        <url-pattern>/Prueba2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorInsumos</servlet-name>
        <url-pattern>/ControladorInsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorColor</servlet-name>
        <url-pattern>/ControladorColor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUnidadInsumos</servlet-name>
        <url-pattern>/ControladorUnidadInsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoriaInsumos</servlet-name>
        <url-pattern>/ControladorCategoriaInsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCategoriaProductos</servlet-name>
        <url-pattern>/ControladorCategoriaProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoOperarios</servlet-name>
        <url-pattern>/ControladorTipoOperarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoEmpleados</servlet-name>
        <url-pattern>/ControladorTipoEmpleados</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorSeries</servlet-name>
        <url-pattern>/ControladorSeries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoDocumento</servlet-name>
        <url-pattern>/ControladorTipoDocumento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorTipoComprobante</servlet-name>
        <url-pattern>/ControladorTipoComprobante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorModeloProductos</servlet-name>
        <url-pattern>/ControladorModeloProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorProducto</servlet-name>
        <url-pattern>/ControladorProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorDetalleOrdenProducto</servlet-name>
        <url-pattern>/ControladorDetalleOrdenProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorOrdenProduccion</servlet-name>
        <url-pattern>/ControladorOrdenProduccion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorOperario</servlet-name>
        <url-pattern>/ControladorOperario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPedido</servlet-name>
        <url-pattern>/ControladorPedido</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
